<!-- About -->
<app-homepage-layout [title]="'About me'">
  <app-homepage-about></app-homepage-about>
</app-homepage-layout>

<!-- Projects -->
<app-homepage-layout [title]="'Projects'">
  <app-homepage-projects></app-homepage-projects>
</app-homepage-layout>

<!-- Blog -->
<app-homepage-layout [title]="'Latest Posts'">
  <app-homepage-blog></app-homepage-blog>
</app-homepage-layout>

<!-- Experience -->
<app-homepage-layout [title]="'Experience'">
  <app-homepage-experience></app-homepage-experience>
</app-homepage-layout>

<!-- Certifications -->
<app-homepage-layout [title]="'Certifications'">
  <app-homepage-certifications></app-homepage-certifications>
</app-homepage-layout>

<!-- Skills -->
<app-homepage-layout [title]="'Skills'">
  <app-homepage-skills></app-homepage-skills>
</app-homepage-layout>
